<section class="transactions">


    <!-- PAGE HEADER -->
    <app-transactions-header></app-transactions-header>

    <!-- SUMMARY -->
    <app-transaction-summary

      [summary]="summary">

    </app-transaction-summary>

    <!-- LIST -->
    <section class="transactions__list">
        @for(transaction of transactions(); track transaction.id) {
            <app-transaction-card
                [transaction]="transaction">
            </app-transaction-card>
        }
    </section>
</section>
