.app-layout {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: auto 1fr;

  app-header {
    position: sticky;
    top: 0;
  }
  &__outlet {
    min-width: 0;
    width: 100%;
    min-height: 0;
    height: 100%;
  }
}
