<section class="application">


    <header class="application__header">


        <h1 class="application__title">

            About you

        </h1>



        <p class="application__description">

            Tell us a little about yourself.
            This information helps us create your account securely.

        </p>


    </header>





    <form
        class="application__form"
        [formGroup]="applicationForm">



        <!-- Identity -->


        <section class="application__section">


            <h2 class="application__section-title">

                Identity Information

            </h2>



            <div class="form__row">


                <app-select
                    [required]="true"
                    class="form__field"
                    formControlName="title"
                    name="title"
                    label="Title"
                    [options]="titles">
                </app-select>




                <app-input
                    class="form__field"
                    formControlName="firstName"
                    name="firstName"
                    label="First name"
                    placeholder="Enter first name"
                    [required]="true">
                </app-input>




                <app-input
                    class="form__field"
                    formControlName="lastName"
                    name="lastName"
                    label="Last name"
                    placeholder="Enter last name"
                    [required]="true">
                </app-input>


            </div>




            <div class="form__row">


                <app-input

                    class="form__field"

                    formControlName="dob"

                    name="dob"

                    label="Date of birth"

                    type="date"

                    [required]="true">

                </app-input>


            </div>


        </section>







        <!-- Contact -->


        <section class="application__section">


            <h2 class="application__section-title">

                Contact Information

            </h2>




            <app-input
                [required]="true"
                formControlName="addressLine"

                name="addressLine"

                label="Address"

                placeholder="Enter your address">

            </app-input>





            <div class="form__row">


                <app-select

                    formControlName="country"

                    name="country"

                    label="Country"
                    [required]="true"
                    [options]="countries">

                </app-select>





                <app-input

                    formControlName="city"
                    [required]="true"
                    name="city"

                    label="City"

                    placeholder="Enter city">

                </app-input>





                <app-input

                    formControlName="zipCode"
                    [required]="true"
                    name="zipCode"

                    label="Postal code"

                    placeholder="Enter postal code">

                </app-input>


            </div>






            <div class="form__row">


                <app-select

                    formControlName="phoneType"

                    name="phoneType"

                    label="Phone type"
                    [required]="true"
                    [options]="phoneTypes">

                </app-select>





                <app-input

                    formControlName="phoneNumber"

                    name="phoneNumber"

                    label="Phone number"
                    [required]="true"
                    placeholder="Enter phone number">

                </app-input>


            </div>



        </section>








        <!-- Employment -->


        <section class="application__section">


            <h2 class="application__section-title">

                Employment & Financial Profile

            </h2>



            <app-select

                formControlName="employmentStatus"

                name="employmentStatus"

                label="Employment status"

                [required]="true"

                [options]="employmentStatuses">

            </app-select>






            <div
                class="application__wealth"
                formGroupName="sourceOfWealth">


                <h3 class="application__sub-title">

                    Source of wealth

                </h3>



                <div class="application__checkbox-grid">


                    @for(item of wealthOptions; track item.control) {


                        <label class="application__checkbox">


                            <input
                                type="checkbox"
                                [formControlName]="item.control">


                            <span>

                                {{ item.label }}

                            </span>


                        </label>


                    }


                </div>


            </div>



        </section>







        <!-- Account -->


        <section class="application__section">


            <h2 class="application__section-title">

                Account type

            </h2>



            <app-select

                formControlName="accountType"

                name="accountType"

                [required]="true"

                label="Bank account type"

                [options]="accountTypes">

            </app-select>



        </section>







        <!-- Actions -->


        <footer class="form__actions">


            <app-button
                [fullWidth]="true"
                variant="primary"
                (click)="onContinue()"
                type="submit">

                Continue

            </app-button>


        </footer>


    </form>


</section>
