<section class="about">

  <h2 class="about__title">About You</h2>

  <form [formGroup]="applicationForm"
        (ngSubmit)="onSubmit()"
        class="about__form">

    <!-- CONTACT INFORMATION -->
    <div class="about__block">
      <h3 class="about__subtitle">Contact Information</h3>

      <div class="form__row">

        <div class="form__field">
          <label for="title">Title</label>
          <select id="title" formControlName="title">
            <option value="">Select</option>
            <option>Mr</option>
            <option>Mrs</option>
            <option>Ms</option>
          </select>
          <app-form-error
            [control]="applicationForm.get('title')"
            field="title">
          </app-form-error>
        </div>

        <div class="form__field">
          <label for="firstName">First Name *</label>
          <input id="firstName" type="text" formControlName="firstName">
          <app-form-error
            [control]="applicationForm.get('firstName')"
            field="firstName">
          </app-form-error>
        </div>

        <div class="form__field">
          <label for="lastName">Last Name *</label>
          <input id="lastName" type="text" formControlName="lastName">
          <app-form-error
            [control]="applicationForm.get('lastName')"
            field="lastName">
          </app-form-error>
        </div>
      </div>

      <div class="form__row">
        <div class="form__field form__field--wide">
          <label for="address">Address Line</label>
          <input id="address" type="text" formControlName="address">
          <app-form-error
            [control]="applicationForm.get('address')"
            field="address">
          </app-form-error>
        </div>
      </div>

      <div class="form__row">

        <div class="form__field">
          <label for="city">City *</label>
          <input id="city" type="text" formControlName="city">
          <app-form-error
            [control]="applicationForm.get('city')"
            field="city">
          </app-form-error>
        </div>

        <div class="form__field">
          <label for="zipCode">Zip / Postal Code *</label>
          <input id="zip" type="text" formControlName="zipCode">
          <app-form-error
            [control]="applicationForm.get('zipCode')"
            field="zipCode">
          </app-form-error>
        </div>
      </div>

      <div class="form__row">
        <div class="form__field">
          <label for="phoneType">Phone Type</label>
          <select id="phoneType" formControlName="phoneType">
            <option>Mobile</option>
            <option>Home</option>
            <option>Work</option>
          </select>
          <app-form-error
            [control]="applicationForm.get('phoneType')"
            field="phoneType">
          </app-form-error>
        </div>

        <div class="form__field">
          <label for="phone">Phone Number *</label>
          <input id="phone" type="text" formControlName="phone">
          <app-form-error
            [control]="applicationForm.get('phone')"
            field="phone">
          </app-form-error>
        </div>
      </div>
    </div>

    <!-- PERSONAL INFORMATION -->
    <div class="about__block">
      <h3 class="about__subtitle">Personal Information</h3>

      <div class="form__row">
        <div class="form__field">
          <label for="dob">Date of Birth</label>
          <input id="dob" type="date" formControlName="dob">
          <app-form-error
            [control]="applicationForm.get('dob')"
            field="dob">
          </app-form-error>
        </div>
      </div>
    </div>

    <!-- EMPLOYMENT -->
    <div class="about__block">
      <h3 class="about__subtitle">Employment</h3>

      <div class="form__field form__field--wide">
        <label for="employment">Employment Status</label>
        <select id="employment" formControlName="employment">
          <option value="">Select</option>
          <option value="employed">Employed</option>
          <option value="self-employed">Self‑Employed</option>
          <option value="unemployed">Unemployed</option>
          <option value="student">Student</option>
          <option value="retired">Retired</option>
          <option value="other">Other</option>
        </select>
        <app-form-error
            [control]="applicationForm.get('employment')"
            field="employment">
        </app-form-error>
      </div>
    </div>

    <!-- ACCOUNT TYPE -->
    <div class="about__block">
      <h3 class="about__subtitle">Account Type</h3>

      <div class="form__field form__field--wide">
        <label for="accountType">Bank Account Type</label>
        <select id="accountType" formControlName="accountType">
          <option value="">Select</option>
          <option value="checking">Checking Account</option>
          <option value="savings">Savings Account</option>
          <option value="credit">Credit Account</option>
          <option value="loan">Loan Account</option>
        </select>
        <app-form-error
            [control]="applicationForm.get('accountType')"
            field="accountType">
        </app-form-error>
      </div>
    </div>

    <!-- SOURCE OF WEALTH -->
    <div class="about__block" formGroupName="sourceOfWealth">
      <h3 class="about__subtitle">Source of Wealth</h3>

      <div class="form__checkboxes form__checkboxes--grid">

        <label>
          <input type="checkbox" formControlName="employmentIncome">
          Income from Employment
        </label>

        <label>
          <input type="checkbox" formControlName="marketInvestments">
          Market Investments / Trading
        </label>

        <label>
          <input type="checkbox" formControlName="interestDividend">
          Interest / Dividend Income
        </label>

        <label>
          <input type="checkbox" formControlName="realEstate">
          Property / Real Estate
        </label>

        <label>
          <input type="checkbox" formControlName="inheritanceGift">
          Inheritance / Gift
        </label>

        <label>
          <input type="checkbox" formControlName="pension">
          Pension / Retirement Benefit
        </label>

        <label>
          <input type="checkbox" formControlName="disabilityUnemployment">
          Disability / Severance / Unemployment
        </label>

        <label>
          <input type="checkbox" formControlName="other">
          Other
        </label>

      </div>
      <app-form-error
          [control]="applicationForm.get('sourceOfWealth')"
          field="sourceOfWealth">
      </app-form-error>
    </div>

    <!-- ACTIONS -->
    <div class="about__actions">
      <button type="button" class="btn btn--secondary">Back</button>
      <button type="submit" class="btn btn--primary">Continue</button>
    </div>

  </form>
</section>
