<div class="login-form-wrapper">
  <form [formGroup]="authForm" class="form" (ngSubmit)="onSubmit()" >
    <div class="form__header">
      <app-name></app-name>
    </div>
    <div class="form-group">
      <label for="userName">Username</label>
      <input
        id="userName"
        type="text"
        placeholder="Enter your username"
        formControlName="userName"
        class="form-input" />

      <app-form-error
            [control]="authForm.get('userName')"
            field="userName">
      </app-form-error>
    </div>
    <div class="form__group">
      <label for="password" class="form__label">Password</label>
      <input
          formControlName="password"
          class="form__input"
          type="password"
          id="password"
          placeholder="Enter your password">
          <app-form-error
          [control]="authForm.get('password')"
          field="password">
          </app-form-error>
    </div>
    <div class="form__group">
      <button type="submit" class="form__button">Login</button>
    </div>
    <div class="form__footer">
      <p class="form__text">Don't have an account?
        <a routerLink="/auth/signup" class="form__link">Register</a>
      </p>
    </div>
  </form>
</div>
