<div class="login">

    <div class="login__container">

        <header class="form__header">

            <app-name>
            </app-name>

            <p class="form__description">

                Sign in to securely access your banking dashboard.

            </p>

        </header>

        <form
            class="form"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()">

            <div class="form__body">

                <div class="form__group">

                    <app-input
                        [required]="true"
                        formControlName="userName"
                        name="userName"
                        label="Username"
                        placeholder="Enter your username">

                    </app-input>

                </div>



                <div class="form__group">

                    <app-input
                        [required]="true"
                        formControlName="password"
                        type="password"
                        name="password"
                        label="Password"
                        placeholder="Enter your password">

                    </app-input>

                </div>

            </div>



            <div class="form__actions">

                <app-button
                    [fullWidth]="true"
                    variant="primary"
                    type="submit">

                    Sign in

                </app-button>

            </div>



            <footer class="form__footer">

                <span>

                    Don't have an account?

                </span>

                <a routerLink="/auth/signup">

                    Open account

                </a>

            </footer>

        </form>

    </div>

</div>
