<ul class="sub-header">
  <li class="sub-header__item">
    <a
      routerLink="/dashboard/accounts"
      routerLinkActive="sub-header__link--active"
      class="sub-header__link" >
      Accounts
    </a>
  </li>
  <li class="sub-header__item">
    <a
      routerLink="/transactions"
      routerLinkActive="sub-header__link--active"
      class="sub-header__link">
      Transactions
    </a>
  </li>
  <li class="sub-header__item">
    <a
      routerLink="/overview"
      routerLinkActive="sub-header__link--active"
      class="sub-header__link">Overview</a>
  </li>
  <li class="sub-header__item">
    <a
      routerLink="/settings"
      routerLinkActive="sub-header__link--active"
      class="sub-header__link">
      Settings
    </a>
  </li>
</ul>
