<form
    class="form signup-form"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()">


    <header class="form__header">

        <h2 class="form__title">

            Create your account

        </h2>


        <p class="form__description">

            Join ZentraBank and manage your finances
            with confidence.

        </p>

    </header>



    <div class="form__body">


        <!-- Email -->

        <div class="form__group">

            <app-input
                [required]="true"

                formControlName="email"

                name="email"

                type="email"

                label="Email address"

                placeholder="Enter your email">

            </app-input>

        </div>




        <!-- Username -->

        <div class="form__group">

            <app-input

                formControlName="userName"
                [required]="true"
                name="userName"

                label="Username"

                placeholder="Choose a username">

            </app-input>

        </div>





        <!-- Password -->

        <div class="form__group">


            <app-input

                formControlName="password"

                [required]="true"

                name="password"

                type="password"

                label="Password"

                placeholder="Create a password">


                <button
                    inputSuffix
                    type="button"
                    class="form-control__action"
                    (click)="showPassword.set(!showPassword())">


                    {{ showPassword() ? 'Hide' : 'Show' }}


                </button>


            </app-input>


        </div>





        <!-- Confirm password -->

        <div class="form__group">


            <app-input
                [required]="true"

                formControlName="confirmPassword"

                name="confirmPassword"

                [type]="showPassword() ? 'text' : 'password'"

                label="Confirm password"

                placeholder="Confirm your password">

            </app-input>


        </div>





        <!-- Marketing -->

        <div class="form__group">


            <div class="form-section">


                <label class="form-section__label">

                    Marketing preferences

                </label>



                <p class="form-section__description">

                    Receive updates about new features,
                    products and offers.

                </p>



                <div class="form-options">


                    <label class="form-option">


                        <input
                            type="radio"
                            formControlName="marketing"
                            value="yes">


                        <span>

                            Yes

                        </span>


                    </label>




                    <label class="form-option">


                        <input
                            type="radio"
                            formControlName="marketing"
                            value="no">


                        <span>

                            No

                        </span>


                    </label>


                </div>


            </div>


        </div>


    </div>





    <div class="form__actions">


        <app-button

            variant="primary"

            [fullWidth]="true"

            type="submit">

            Create account
        </app-button>


    </div>

    <footer class="form__footer">


        <span>

            Already have an account?

        </span>


        <a routerLink="/auth/login">

            Sign in

        </a>


    </footer>


</form>
