<div class="dashboard-preview motion-floating">

    <article class="dashboard-preview__item dashboard-preview__item--balance">

        <landing-balance-card></landing-balance-card>

    </article>



    <article class="dashboard-preview__item dashboard-preview__item--chart">

        <landing-spending-chart></landing-spending-chart>

    </article>



    <article class="dashboard-preview__item dashboard-preview__item--transactions">

        <landing-recent-transactions></landing-recent-transactions>

    </article>

</div>
