<header class="dashboard-header">
  <nav class="navbar">
    <div class="navbar__logo">
      <app-name></app-name>
    </div>
    <ul class="navbar__links">
      <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Profile</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Settings</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Logout</a></li>
    </ul>
  </nav>
</header>
