<aside class="transfer-review">

  <h2 class="transfer-review__title">Review Transfer Details</h2>

  <ul class="transfer-review__list">

    <li class="transfer-review__item">
      <span class="transfer-review__label">Recipient Name</span>
      <span class="transfer-review__value">{{ data.recipientName }}</span>
    </li>

    <li class="transfer-review__item">
      <span class="transfer-review__label">Recipient IBAN</span>
      <span class="transfer-review__value">{{ data.iban }}</span>
    </li>

    <li class="transfer-review__item">
      <span class="transfer-review__label">Recipient BIC</span>
      <span class="transfer-review__value">{{ data.bic }}</span>
    </li>

    <li class="transfer-review__item">
      <span class="transfer-review__label">Amount</span>
      <span class="transfer-review__value">{{ data.amount | currency:'EUR' }}</span>
    </li>

    <li class="transfer-review__item">
      <span class="transfer-review__label">Transaction Type</span>
      <span class="transfer-review__value">{{ data.type }}</span>
    </li>

    <li class="transfer-review__item" *ngIf="data.referenceAccountNumber">
      <span class="transfer-review__label">Reference Account</span>
      <span class="transfer-review__value">{{ data.referenceAccountNumber }}</span>
    </li>

  </ul>

  <div class="transfer-review__actions">
    <button class="transfer-review__button transfer-review__button--edit"
            (click)="onEdit()">
      Edit
    </button>

    <button class="transfer-review__button transfer-review__button--confirm"
            (click)="onConfirm()">
      Confirm Transfer
    </button>
  </div>

</aside>
