<section class="hero">


    <div class="hero__content">


        <span class="hero__badge">

            Modern banking experience

        </span>



        <h1 class="hero__title">

            Banking built
            <br>
            for the way
            <br>
            you live.

        </h1>



        <p class="hero__description">

            ZentraBank brings your accounts,
            payments, and financial insights together
            in one simple and secure experience.

        </p>



        <div class="hero__actions">


            <button class="hero__primary">

                Get started

            </button>



            <button class="hero__secondary">

                Explore demo

            </button>


        </div>


    </div>



    <div class="hero__visual">


      <landing-dashboard-preview></landing-dashboard-preview>


    </div>


</section>
