<section class="transactions landing-section">


    <header class="transactions__header">


        <h3 class="transactions__title">

            Recent activity

        </h3>


        <span class="transactions__link">

            View all

        </span>


    </header>



    <div class="transactions__list">


        @for(transaction of transactions; track transaction.title) {


            <article class="transaction">


                <div class="transaction__icon"
                     [class.transaction__icon--income]="transaction.type === 'income'">
                  <lucide-icon
                      [img]="transaction.icon">
                  </lucide-icon>

                </div>



                <div class="transaction__content">


                    <span class="transaction__title">

                        {{ transaction.title }}

                    </span>


                    <span class="transaction__description">

                        {{ transaction.description }}

                    </span>


                </div>



                <span
                    class="transaction__amount"
                    [class.transaction__amount--income]="transaction.type === 'income'">


                    {{ transaction.amount }}


                </span>


            </article>


        }


    </div>


</section>
