:root {

    /* ==========================================================
       BORDER RADIUS
       ZentraBank Design System
    ========================================================== */

    /* Sharp */

    --radius-none: 0;



    /* Small details */

    --radius-xs: .2rem;      /* 2px */



    /* Inputs • Badges */

    --radius-sm: .4rem;      /* 4px */



    /* Buttons • Selects */

    --radius-md: .8rem;      /* 8px */



    /* Cards */

    --radius-lg: 1.2rem;     /* 12px */



    /* Large containers */

    --radius-xl: 1.6rem;     /* 16px */



    /* Dialogs */

    --radius-2xl: 2rem;      /* 20px */



    /* Pills */

    --radius-pill: 9999px;



    /* Circular */

    --radius-circle: 50%;

}
