<section class="accounts-layout">

    <header class="accounts-layout__header">

        <div class="accounts-layout__heading">

            <h1 class="accounts-layout__title">
                Your Accounts
            </h1>


            <p class="accounts-layout__description">
                View and manage all your bank accounts in one place.
            </p>

        </div>

    </header>



    <div class="accounts-layout__content">

        <app-accounts-list></app-accounts-list>

    </div>

</section>
