<ul class="account-header">
  <li
    class="account-header__item">
    <a
      routerLink="/dashboard/account/history"
      routerLinkActive="account-header__link--active"
      class="account-header__link">History</a>
  </li>
  <li class="account-header__item">
    <a
      routerLink="/dashboard/account/manage"
      routerLinkActive="account-header__link--active"
      class="account-header__link">Manage</a>
  </li>
  <li class="account-header__item">
    <a
      routerLink="/dashboard/account/details"
      routerLinkActive="account-header__link--active"
      class="account-header__link">Details</a>
  </li>
</ul>
