<div class="history-item">

  <!-- TYPE + ICON -->
  <div class="history-item__type">
    <div class="history-item__icon">
      <lucide-icon [img]="getTypeIcon(transaction()?.type!)"></lucide-icon>
    </div>
    <span class="history-item__badge">
      {{ getTypeLabel(transaction()?.type!) }}
    </span>
  </div>

  <!-- NAME -->
  <div class="history-item__name">
    {{ transaction()?.toClientName || '—' }}
  </div>

  <!-- DATE -->
  <div class="history-item__date">
    {{ transaction()?.createdAt | date:'mediumDate' }}
  </div>

  <!-- STATUS -->
  <div
    class="history-item__status"
    [class.history-item__status--pending]="transaction()?.status === transferStatus.PENDING"
    [class.history-item__status--completed]="transaction()?.status === transferStatus.COMPLETED"
    [class.history-item__status--failed]="transaction()?.status === transferStatus.FAILED"
  >
    {{ transaction()?.status }}
  </div>

  <!-- AMOUNT -->
  <div
    class="history-item__amount"
    [class.history-item__amount--negative]="isNegative(transaction()?.type!)"
    [class.history-item__amount--positive]="isPositive(transaction()?.type!)"
  >
    {{ transaction()?.amount | currency:'USD':'symbol':'1.2-2' }}
  </div>

</div>
