@use "../../../../../themes/styles/media" as *;

.signup-page {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 0;
  height: 100%;

  overflow: hidden;

  app-instructions {
    min-height: 0;
    height: 100%;

  }
  &__outlet{
    padding: 0 4rem;
    min-height: 0;
    height: 100%;
    overflow: hidden;
  }
}


@include respond(tab-port) {


    .signup-page{

      grid-template-columns: 1fr;

    }


}
