<nav class="feature-navigation">
  <ul class="feature-navigation__list">

    <li class="feature-navigation__item">
      <a
        routerLink="/dashboard/transactions/transfer"
        routerLinkActive="feature-navigation__link--active"
        class="feature-navigation__link">
        Transfer
      </a>
    </li>

    <li class="feature-navigation__item">
      <a
        routerLink="/dashboard/transactions/history"
        routerLinkActive="feature-navigation__link--active"
        class="feature-navigation__link">
        History
      </a>
    </li>

  </ul>
</nav>
