<nav class="feature-navigation">

    <div class="feature-navigation__container">

        <ul class="feature-navigation__list">

          @for(item of items$(); track $index) {
            <li class="feature-navigation__item">
                <a
                    [routerLink]="item.link"
                    routerLinkActive="feature-navigation__link--active"
                    class="feature-navigation__link">

                    {{ item.label }}

                </a>
            </li>
          }
        </ul>

    </div>

</nav>
