<nav class="global-navigation">

  <ul class="global-navigation__list">

    <li class="global-navigation__item">
      <a
        routerLink="/dashboard/accounts"
        routerLinkActive="global-navigation__link--active"
        class="global-navigation__link">
        Accounts
      </a>
    </li>

    <li class="global-navigation__item">
      <a
        routerLink="/dashboard/transactions"
        routerLinkActive="global-navigation__link--active"
        class="global-navigation__link">
        Transactions
      </a>
    </li>

    <li class="global-navigation__item">
      <a
        routerLink="/dashboard/analytics"
        routerLinkActive="global-navigation__link--active"
        class="global-navigation__link">
        Overview
      </a>
    </li>

    <li class="global-navigation__item">
      <a
        routerLink="/dashboard/profile"
        routerLinkActive="global-navigation__link--active"
        class="global-navigation__link">
        Profile
      </a>
    </li>

  </ul>

</nav>
