<nav class="global-navigation">

    <ul class="global-navigation__list">

        <li class="global-navigation__item">
            <a
                routerLink="/accounts"
                routerLinkActive="global-navigation__link--active"
                class="global-navigation__link">

                <lucide-icon [img]="walletIcon"></lucide-icon>

                <span>
                    Accounts
                </span>

            </a>
        </li>


        <li class="global-navigation__item">
            <a
                routerLink="/transactions"
                routerLinkActive="global-navigation__link--active"
                class="global-navigation__link">

                <lucide-icon [img]="transactionIcon"></lucide-icon>

                <span>
                    Transactions
                </span>

            </a>
        </li>


        <li class="global-navigation__item">
            <a
                routerLink="/analytics"
                routerLinkActive="global-navigation__link--active"
                class="global-navigation__link">

                <lucide-icon [img]="chartIcon"></lucide-icon>

                <span>
                    Overview
                </span>

            </a>
        </li>


        <li class="global-navigation__item">
            <a
                routerLink="/profile"
                routerLinkActive="global-navigation__link--active"
                class="global-navigation__link">

                <lucide-icon [img]="userIcon"></lucide-icon>

                <span>
                    Profile
                </span>

            </a>
        </li>

    </ul>

</nav>
