<div class="trans-options">
  <div class="trans-options__depostit">
    <a   routerLink="/dashboard/transactions/transfer/deposit">
      <figure>
        <figcaption>
          deposit
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="trans-options__withdraw">
     <a   routerLink="/dashboard/transactions/transfer/withdraw">
      <figure>
        <figcaption>
           withdraw
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="trans-options__transfer">
     <a   routerLink="/dashboard/transactions/transfer/transfer">
      <figure>
        <figcaption>
            transfer
        </figcaption>
      </figure>
    </a>
  </div>
</div>
