<div class="trans-options">

  <!-- Deposit -->
  <a class="trans-card" routerLink="/dashboard/transactions/transfer/deposit">
    <figure class="trans-card__figure">

      <div class="trans-card__icon">
        <lucide-icon [img]="banknote"></lucide-icon>
      </div>

      <figcaption class="trans-card__caption">
        <h3 class="trans-card__title">Deposit Funds</h3>
        <p class="trans-card__text">Move cash into your account.</p>
      </figcaption>

      <footer class="trans-card__footer">
        <span class="trans-card__action">Select</span>
        <lucide-icon [img]="arrowRight"></lucide-icon>
      </footer>

    </figure>
  </a>

  <!-- Withdraw -->
  <a class="trans-card" routerLink="/dashboard/transactions/transfer/withdraw">
    <figure class="trans-card__figure">

      <div class="trans-card__icon">
        <lucide-icon [img]="banknote"></lucide-icon>
      </div>

      <figcaption class="trans-card__caption">
        <h3 class="trans-card__title">Withdraw Funds</h3>
        <p class="trans-card__text">Move cash out of your account.</p>
      </figcaption>

      <footer class="trans-card__footer">
        <span class="trans-card__action">Select</span>
        <lucide-icon [img]="arrowRight"></lucide-icon>
      </footer>

    </figure>
  </a>

  <!-- Internal Transfer -->
  <a class="trans-card" routerLink="/dashboard/transactions/transfer/transfer">
    <figure class="trans-card__figure">

      <div class="trans-card__icon">
        <lucide-icon [img]="arrowRightLeft"></lucide-icon>
      </div>

      <figcaption class="trans-card__caption">
        <h3 class="trans-card__title">Internal Transfer</h3>
        <p class="trans-card__text">Between ZentraBank accounts.</p>
      </figcaption>

      <footer class="trans-card__footer">
        <span class="trans-card__action">Select</span>
        <lucide-icon [img]="arrowRight"></lucide-icon>
      </footer>

    </figure>
  </a>

</div>
