<section class="transactions-history">


  <!-- ============================================
       FILTERS
  ============================================ -->
  <div class="transactions-history__filters">
    <app-history-filter></app-history-filter>
  </div>

  <!-- ============================================
       TABLE WRAPPER
  ============================================ -->
  <section class="transactions-history__table">

    <app-history-header></app-history-header>

    <div class="transactions-history__rows">
      @for (item of transactions(); track $index) {
        <app-history-item [transaction]="item"></app-history-item>
      }
    </div>

  </section>

</section>
