@use "../../../themes/styles/media" as *;

.application-layout {
  display: flex;
  min-height: 0;
  height: 100%;
  > * {
    flex: 1;
  }
  div {
    padding: 0 4rem;
  }
}


@include respond(tab-port) {


    .signup-page{

        flex-direction: column;

    }


}
