@use "../../../themes/styles/media" as *;

.application-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 0;
  min-height: 100%;
  > * {
    flex: 1;
  }
  div {
    padding: 0 4rem;
  }
}


@include respond(tab-port) {


    .application-layout{
        display: flex;
        flex-direction: column;

    }


}
