<div class="login-form-wrapper">
  <h1 class="login-form-title">zentrabank</h1>
  <form [formGroup]="authForm" class="form" (ngSubmit)="onSubmit()" >
    <div class="form__header">
      <h2 class="form__title">Login</h2>
    </div>
    <div class="form__group">
      <label for="loginId" class="form__labal">Client ID</label>
      <input
          formControlName="loginId"
          class="form__input"
          type="text"
          id="loginId" placeholder="Enter your client ID">
    </div>
    <div class="form__group">
      <label for="password" class="form__label">Password</label>
      <input
          formControlName="password"
          class="form__input"
          type="password"
          id="password"
          placeholder="Enter your password">
    </div>
    <div class="form__group">
      <button type="submit" class="form__button">Login</button>
    </div>
    <div class="form__footer">
      <p class="form__text">Don't have an account? <a href="/auth/register" class="form__link">Register</a></p>
    </div>
  </form>
</div>
