<div class="form-control">

    @if (label) {

        <label
            class="form-control__label"
            [for]="id">

            <span>

                {{ label }}

            </span>

            @if (required) {

                <span class="form-control__required">

                    *

                </span>

            }

        </label>

    }



    <div
        class="form-control__field"
        [class.form-control__field--invalid]="showError"
        [class.form-control__field--disabled]="disabled">

        <div class="form-control__prefix">

            <ng-content select="[inputPrefix]"></ng-content>

        </div>



        <input

            class="form-control__input"

            [id]="id"

            [name]="name"

            [type]="type"

            [placeholder]="placeholder"

            [autocomplete]="autocomplete"

            [readonly]="readonly"

            [disabled]="disabled"

            [value]="value"

            (input)="onInput($event)"

            (blur)="onBlur()">




        <div class="form-control__suffix">

            <ng-content select="[inputSuffix]"></ng-content>

        </div>

    </div>



    @if (hint && !showError) {

        <p class="form-control__hint">

            {{ hint }}

        </p>

    }



    @if (showError && errorMessage) {

      <p class="form-control__error">

          {{ errorMessage }}

      </p>

  }

</div>
