<div class="form-control">

    @if (label) {

        <label for="" class="form-control__label">

            <span>

                {{ label }}

            </span>

            @if (required) {

                <span class="form-control__required">

                    *

                </span>

            }

        </label>

    }



    <div class="form-control__field">

        <div class="form-control__prefix">

            <ng-content select="[inputPrefix]"></ng-content>

        </div>



        <input

            class="form-control__input"

            [type]="type"

            [id]="inputId"

            [name]="name"

            [placeholder]="placeholder"

            [autocomplete]="autocomplete"

            [readonly]="readonly"

            [disabled]="disabled"

            [value]="value"

            (input)="onInput($event)"

            (blur)="onTouched()">




        <div class="form-control__suffix">

            <ng-content select="[inputSuffix]"></ng-content>

        </div>

    </div>



    @if (hint) {

        <p class="form-control__hint">

            {{ hint }}

        </p>

    }



    <ng-content select="app-form-error"></ng-content>

</div>
