<div class="form-control">

    @if (label) {

        <label class="form-control__label">

            {{ label }}

            @if (required) {

                <span class="form-control__required">*</span>

            }

        </label>

    }



    <div class="form-control__field">

        <input

            class="form-control__input"

            [type]="type"

            [placeholder]="placeholder"

            [autocomplete]="autocomplete"

            [disabled]="disabled"

            [readonly]="readonly"

            [value]="value"

            (input)="onInput($event)"

            (blur)="onTouched()">

    </div>



    @if (hint) {

        <p class="form-control__hint">

            {{ hint }}

        </p>

    }

</div>
