<form class="transfer-form" [formGroup]="transForm">

  <!-- ============================================
       FORM HEADER
  ============================================ -->
  <header class="transfer-form__header">
    <h2 class="transfer-form__title">Transfer Details</h2>
    <p class="transfer-form__description">
      Provide the required information to complete your internal transfer.
    </p>
  </header>



  <!-- ============================================
       FORM BODY
  ============================================ -->
  <div class="transfer-form__body">

    <!-- Recipient IBAN -->
    <div class="transfer-form__group">
      <app-input
        formControlName="iban"
        name="iban"
        label="Recipient IBAN"
        placeholder="Enter recipient IBAN"
        [required]="true">
      </app-input>

      <app-form-error
        [control]="transForm.get('iban')"
        field="iban">
      </app-form-error>
    </div>


    <!-- Recipient BIC -->
    <div class="transfer-form__group">
      <app-input
        formControlName="bic"
        name="bic"
        label="Recipient BIC (SWIFT)"
        placeholder="Enter recipient BIC"
        [required]="true">
      </app-input>

      <app-form-error
        [control]="transForm.get('bic')"
        field="bic">
      </app-form-error>
    </div>


    <!-- Recipient Name -->
    <div class="transfer-form__group">
      <app-input
        formControlName="recipientName"
        name="recipientName"
        label="Recipient Name"
        placeholder="Enter recipient full name"
        [required]="true">
      </app-input>

      <app-form-error
        [control]="transForm.get('recipientName')"
        field="recipientName">
      </app-form-error>
    </div>


    <!-- Transfer Amount -->
    <div class="transfer-form__group">
      <app-input
        formControlName="amount"
        name="amount"
        label="Transfer Amount (€)"
        placeholder="0.00"
        [required]="true"
        (input)="formatAmount($event)"
        (blur)="finalizeAmount($event)"
        (keydown)="blockInvalidKeys($event)"
        (paste)="blockInvalidPaste($event)">
      </app-input>

      <app-form-error
        [control]="transForm.get('amount')"
        field="amount">
      </app-form-error>
    </div>


    <!-- Transaction Type -->
    <div class="transfer-form__group">
      <app-select
        formControlName="type"
        name="type"
        label="Transaction Type"
        type="select"
        [options]="option"
        [required]="true">
      </app-select>
    </div>


    <!-- Debit Account -->
    <div class="transfer-form__group">
      <app-select
        formControlName="fromAccountNumber"
        name="fromAccountNumber"
        label="Debit Account"
        type="select"
        placeholder="Select an account"
        [options]="getAccountOptions()"
        [required]="true">
      </app-select>

      <app-form-error
        [control]="transForm.get('fromAccountNumber')"
        field="fromAccountNumber">
      </app-form-error>
    </div>

  </div>



  <!-- ============================================
       FORM ACTIONS
  ============================================ -->
  <div class="transfer-form__actions">
    <app-button
      variant="primary"
      [fullWidth]="true"
      (click)="onTransfer()">
      Transfer
    </app-button>
  </div>

</form>
