.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  &__icon {
    svg {
      color: var(--text-clear);
    }
  }
  &__label {
    color: var(--text-clear);
    align-self: center;
  }
}
