  <!-- Filters -->
  <div class="history-filters">
    <select class="history-filters__filter">
      <option value="all">All Types</option>
      <option value="TRANSFER">Transfers</option>
      <option value="DEPOSIT">Deposits</option>
      <option value="WITHDRAW">Withdrawals</option>
    </select>

    <select class="history-filters__filter">
      <option value="30">Last 30 days</option>
      <option value="90">Last 3 months</option>
      <option value="365">Last year</option>
    </select>
  </div>
