@use "../../../../../../../themes/styles/media" as *;
/* ==========================================================
   HISTORY FILTERS — BANKING PRODUCT ENTERPRISE
========================================================== */

.history-filters {
  display: flex;
  align-items: flex-end;
  gap: var(--space-6);

  padding: var(--space-4) 0;
}

.history-filters__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}



/* ==========================================================
   RESPONSIVE
========================================================== */

@include respond(tab-port) {
  .history-filters {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-4);
  }
}

@include respond(phone) {
  .history-filters {
    padding: var(--space-3) 0;
  }
}
