<section class="history-filters">

  <!-- Transaction Type -->
  <div class="history-filters__group">
    <app-select
      name="type"
      formControlName="type"
      label="Transaction Type"
      [options]="typeOptions">
    </app-select>
  </div>

  <!-- Date Range -->
  <div class="history-filters__group">
    <app-select
      name="range"
      formControlName="range"
      label="Date Range"
      [options]="[
        { label: 'Last 30 days', value: '30' },
        { label: 'Last 3 months', value: '90' },
        { label: 'Last year', value: '365' }
      ]">
    </app-select>
  </div>

</section>
