<header class="landing-header">


    <a
        class="landing-header__brand"
        href="#">


        <img
            src="assets/logo.svg"
            alt="ZentraBank logo">



        <span>

            ZentraBank

        </span>


    </a>





    <nav class="landing-header__actions">


        <button
            class="landing-header__login">


            Sign in


        </button>




        <button
            class="landing-header__cta">


            Open account


        </button>



    </nav>


</header>
