<header class="landing-header">

    <div class="landing-header__container">

        <a
            class="landing-header__brand"
            routerLink="/">

            <img
                src="/icons/logo-1.png"
                alt="ZentraBank logo">

            <span>

                Zentra<span class="landing-header__brand-accent">Bank</span>

            </span>

        </a>



        <nav class="landing-header__actions">

          <app-button
              (click)="onLogin()"
              variant="ghost"
              type="button">

              Sign in

          </app-button>



          <app-button
              variant="primary"
              type="button">

              Open account

          </app-button>

        </nav>

    </div>

</header>
