<div class="features">

    @for (item of items; track item.title; let last = $last) {

        <article class="feature" [class.feature--last]="last">

            <div class="feature__icon">

                <lucide-icon
                    [img]="item.icon">
                </lucide-icon>

            </div>

            <header class="feature__body">

                <h3 class="feature__title">

                    {{ item.title }}

                </h3>

                <p class="feature__description">

                    {{ item.description }}

                </p>

            </header>

        </article>

    }

</div>
