<section class="quick-actions">
    <header class="quick-actions__header">
        <h3 class="quick-actions__title">

            Quick actions

        </h3>
        <span class="quick-actions__link">

            View all

        </span>
    </header>

    <div class="quick-actions__grid">

        @for(action of actions; track action.label) {


            <button class="quick-actions__item">


                <span class="quick-actions__icon">


                <lucide-icon
                    [img]="action.icon">
                </lucide-icon>


                </span>

                <span class="quick-actions__label">

                    {{ action.label }}

                </span>
            </button>
        }
    </div>
</section>
