<aside class="instructions">

  <h2 class="instructions__title">Open an Account</h2>

  <ul class="instructions__steps">
    <li class="instructions__steps-item">1. Create a username and password.</li>
    <li class="instructions__steps-item">2. Complete the application.</li>
  </ul>

  <h3 class="instructions__subtitle">You'll need:</h3>

  <ul class="instructions__requirements">
    <li class="instructions__requirements-item">1. Personal and contact details.</li>
    <li class="instructions__requirements-item">2. Income and tax information.</li>
  </ul>

  <div class="instructions__footer">
    <p class="instructions__footer-text">Already have an account?
      <span>
        <a routerLink="/auth/login" class="instructions__link">Login</a>
      </span>
    </p>

  </div>

</aside>
